<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <!-- Bootstrap CSS -->
  <title th:text="${title}"></title>
  <style>
    #sidebar {
      width: 20%;
      height: 100vh;
      background: #343a40;
    }

    i {
      font-size: 24px;
    }
  </style>
</head>

<body>
  <div class="d-flex">
    <div id="sidebar" th:fragment="slidebar">
      <div class="p-2">
        <a th:href="@{/}" class="navbar-brand text-center text-light w-100 p-4 border-bottom">
          Farmacia
        </a>
      </div>
      <div id="sidebar-accordion" class="accordion">
        <div class="list-group">

          <a th:href="@{/usuarios}" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-person-badge mr-3" aria-hidden="true"></i>Gestion de usuarios
          </a>

          <a th:href="@{/pacientes}" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-people-fill mr-3" aria-hidden="true"></i>Gestion de Pacientes
          </a>
          <a th:href="@{/entregas}" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-arrow-right-square mr-3" aria-hidden="true"></i>Gestion de Entregas
          </a>
          <a th:href="@{/medicamentos}" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-capsule mr-3" aria-hidden="true"></i>Gestion de Medicamentos
          </a>
          <a th:href="@{/servicios}" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-hospital mr-3" aria-hidden="true"></i>Gestion de Servicios
          </a>
          <a th:href="@{/obra-social}" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-shield-plus mr-3" aria-hidden="true"></i>Gestion de Obra Social
          </a>
          <a th:href="@{/reportes}" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-file-pdf mr-3" aria-hidden="true"></i>Gestion de Reportes
          </a>

        </div>
      </div>
    </div>



    <div class="content w-100">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-5">
      </nav>
      <section class="p-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Info del contenido de la pagina</h2>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>